<h2>Edit {{celebrity.name}}</h2>

<form action="/celebrities/edit/{{celebrity.id}}" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{celebrity.name}}">
    <label for="occupation">Occupation:</label>
    <select name="occupation" id="occupation">
        <option value="{{celebrity.occupation}}" disabled selected>{{celebrity.occupation}}</option>
        <option value="unknown">Unknown</option>
        <option value="actor">Actor</option>
        <option value="singer">Singer</option>
        <option value="comedian">Comedian</option>
    </select>
    <label for="catchPhrase">Catch phrase:</label>
    <input type="text" name="catchPhrase" id="catchPrase" value="{{celebrity.catchPhrase}}">
    <button type="submit">Edit</button>
</form>